[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
psycopg2-binary = "==2.9.2"
djangorestframework = "*"
pillow = "*"
django-audiofield = "*"
djoser = "*"
social-auth-app-django = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
pyyaml = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
drf-writable-nested = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
